<div class="main">
	<div class="container">
		<ul class="breadcrumb">
			<li class="active">Home</li>
		</ul>
		<div class="row">
			<!-- BEGIN CONTENT -->
			<div class="col-md-12 col-sm-12">
				<p>Esse é o conteúdo da página principal do site.</p>
			</div>
			<div class="col-md-12 col-sm-12">
				<p>Esse é o conteúdo da página principal do site.Esse é o
					conteúdo da página principal do site.Esse é o conteúdo da página
					principal do site.Esse é o conteúdo da página principal do
					site.Esse é o conteúdo da página principal do site.Esse é o
					conteúdo da página principal do site.Esse é o conteúdo da página
					principal do site.Esse é o conteúdo da página principal do
					site.Esse é o conteúdo da página principal do site.Esse é o
					conteúdo da página principal do site.Esse é o conteúdo da página
					principal do site.Esse é o conteúdo da página principal do
					site.Esse é o conteúdo da página principal do site.Esse é o
					conteúdo da página principal do site.Esse é o conteúdo da página
					principal do site.</p>
			</div>
		</div>
	</div>
</div>
